<div class="about-banner">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-centered">
    <div class="us-heading-container">
      <h1>Edit File</h1>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="padding-top-50 edit-file">
        <%- model_class = PdfAttachment -%>
        <p>
          <strong>Doc:</strong>
          <%= link_to @pdf_attachment.document.url, target: "_blank" do %>
          <%= image_tag @pdf_attachment.document.url(:pdf_mini) %>
          <% end %>
        </p>
        <p>
          <strong>Doc type:</strong>
          <%= @pdf_attachment.document_file_name %>
        </p>
        <div class="padding-top-20">
          <%= link_to 'Show', @pdf_attachment, :class => 'btn btn-default' %>
          <%= link_to 'Back', pdf_attachments_path, :class => 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :js_init do %>
HeaderScroll.init();
<% end %>
