<h2>All Page Embeds</h2>
<% @page_embeds.each do |page_embed| %>
  <div class="page-embed-block">
    <h3><%= page_embed.role.titleize %></h3>
    <strong>Title</strong>
    <p><%= page_embed.title %><p>
    <strong>Description</strong>
    <p><%= page_embed.description %><p>
    <strong>Embed Code</strong>
    <p><%= raw page_embed.embed_code %><p>
    <%= link_to "Update", "##{page_embed.id}", class: "btn btn-primary colorbox-inline", :data => {colorbox: true, colorbox_height: '600px', colorbox_width: '550px', colorbox_inline:true } %>
  <%= render partial: 'form', locals: { page_embed: page_embed } %>
  </div>
<% end %>
