<div style="display:none;">
  <div id="featured_video_model">
    <div class="tabbable">
      <ul class="nav nav-pills">
        <li class="active" role="presentation"><a href="#video_one" data-toggle="tab">Select Video</a></li>
        <li><a href="#video_two" data-toggle="tab" role="presentation">Add New Video</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="video_one">
          <div class="select-file">
            <div id="paginator_video">
              <%= paginate @embedded_attachments, remote: true, param_name: 'page_vid' %>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                   <th>Preview</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
              </thead>
              <tbody id="embedded_attachments">
                <% @embedded_attachments.each do |embedded_attachment| %>
                  <tr>
                    <td>
                      <div class="embed-container">
                        <%= raw embedded_attachment.embed_code %>
                      </div>
                    </td>
                    <td><%= date_format(embedded_attachment.created_at) %></td>
                    <td>
                      <%= link_to "Select", "#", class: "chosen_embedded_attachment", id: embedded_attachment.id %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="video_two">
          <div class="create-new-video">
            <%= render :partial => "embedded_attachments/form", :locals => {remote: true} %>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
