<%= form_for(@blog_post) do |f| %>
  <%= hidden_field_tag 'attached_image_id' %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% @blog_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description, :cols => 40, :rows=>80, :ckeditor => {:toolbar => [
    { name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source', '-', 'Save', 'NewPage', 'Preview', 'Print', '-' ] },
    { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
    { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ], items: [ 'Find', 'Replace', '-', 'SelectAll', '-', 'Scayt' ] },
    { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
    '/',
    { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
    { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
    { name: 'insert', items: ['oembed', 'Image', 'Video', 'Flash', 'Table', 'HorizontalRule', 'SpecialChar', 'PageBreak', 'Iframe' ] },
    '/',
    { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
    { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
    { name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
    { name: 'others', items: [ '-' ] },
    { name: 'about', items: [ 'About' ] }
    ]}  %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= select_tag 'blog_post[tags][]', options_for_select(BlogPost::TOKENS, f.object.tags), {:multiple => true} %>
  </div>
  <div class="field">
    <%= f.label :published_date %><br>
    <%= f.text_field :published_date, class: "datepicker", required: true %>
  </div><br>
  <div class="field" data-no-turbolink>
    <%= label_tag 'Featured Image' %><br>
    <% if @current_attachment.present? %>
      <%= image_tag(@current_attachment.image.url(:thumb), class: "attached_image") %><br>
    <% else %>
      <%= image_tag('', class: "attached_image") %><br>
    <% end %>
    <%= link_to "Attach Featured Image", "#featured_image_model", :data => { :colorbox => true, :colorbox_height => '800px', :colorbox_width => '900px', colorbox_inline:true }, class: "colorbox-inline btn btn-primary" %>

    <%= link_to "Remove Attachment", remove_image_route, class: "btn btn-danger remove_image" + show_remove_attachment_link, remote: true %>
  </div><br>
  <div class="actions">
    <%= f.submit submit_text(f.object, "Blog Post"), class: "btn btn-success" %>
  </div>
<% end %>
  <div style="display:none;">
    <div id="featured_image_model" >
      <div class="tabbable">
        <ul class="nav nav-pills">
          <li class="active" role="presentation"><a href="#one" data-toggle="tab">Select Image</a></li>
          <li><a href="#two" data-toggle="tab" role="presentation">Add New Image</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="one">
            <div class="select-image">
              <%- model_class = Attachment -%>
              <div id="paginator">
                <%= paginate @attachments, remote: true %>
              </div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Image File</th>
                    <th>Thumbnail</th>
                    <th>Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="attachments">
                  <% @attachments.each do |attachment| %>
                    <tr>
                      <td><%= attachment.image_file_name %></td>
                      <td><%= image_tag attachment.image.url(:thumb) %></td>
                      <td><%= date_format(attachment.created_at) %></td>
                      <td>
                        <%= link_to "Select", "#", class: "chosen_attachment", id: attachment.id %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane" id="two">
            <div class="create-new-image">
              <%= render :partial => "attachments/form", :locals => {attachable_id: @blog_post.id, attachable_type: "BlogPost", remote: true} %>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
<% content_for :js_init do %>
  Blog.init();
<% end %>
