<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div class="blog-news-img"><%= robo_news_blog_attachment(blog) %></div>
  <div class="blog-news-post">
    <% blog.tags.each do |tag| %>
    <%= link_to "#{tag}", robo_news_path(token: tag), class: "post-tags" %>
    <% end %>
  </div>
  <div class="blog-new-title"><%= robo_news_blog_title(blog) %></div>
  <div class="post-date"><%= date_format blog.published_date %></div>
  <div class="blog-news-des">
    <p><%= robo_news_blog_description(blog) %></p>
  </div>
  <div class="clearfix"></div>
  <div class="blog-news-social">
    <div class="addthis_sharing_toolbox"></div>
  </div>
  <div class="pull-right news-read-more"><%= link_to "Read more", "/#{blog.slug}" %></div>
</div>
