<h1>All Blogs</h1>
<div data-no-turbolink>
  <%= link_to 'Add Blog Post', new_blog_post_path, :class => 'btn btn-primary' %>
</div>
<%= paginate @blog_posts %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Tags</th>
      <th>Published date</th>
      <th>Views</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @blog_posts.each do |blog_post| %>
      <tr>
        <td><%= blog_post.title %></td>
        <td><%= blog_post.tags %></td>
        <td><%= date_format(blog_post.published_date) %></td>
        <td><%= blog_post.views %></td>
        <td><%= link_to 'Show', blog_post %></td>
        <td data-no-turbolink><%= link_to 'Edit', edit_blog_post_path(blog_post) %></td>
        <td><%= link_to 'Delete', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
