<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55dd6a077af5bb75" async="async"></script>
<div class="legal-banner">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-centered">
    <div class="blog-heading-container">
      <h1>ROBO-NEWS</h1>
      <div class="punch-line">Delivering Cutting Edge Industry Insight and Competitive Intelligence</div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <div class="post-section">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="featured-content">
              <%= image_tag("new-research-video.jpg") %>
            </div>
            <div class="latest-article-section">
              <h2>LATEST RESEARCH ARTICLES</h2>
              <div class="sub-heading">This is jsut a dummy tect to have  demo for the sub heading here that will have some value  for the overall website info </div>
              <% if @latest_blogs.length == 0 %>
                <h3>No Blog posts match searched criteria.</h3>
              <% end %>
              <% @latest_blogs.each_with_index do |blog, index| %>
                <% if index.in? [0,2,4] %>
                  <div class="blog-news-section">
                    <div class="row">
                <% end %>
                    <%= render partial: 'robo_news_blog_post', locals: {blog: blog} %>
                <% if index.in? [1,3,5] %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% if @latest_blogs.length.in? [1,3,5] %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="blog-news-right">
        <div class="blog-news-right-section">
          <h4>Filter</h4>
          <% BlogPost::TOKENS.each do |token| %>
            <%= link_to "#{token}", robo_news_path(token: token), class: "post-tags" %>
          <% end %>
        </div>
        <div class="tweets-section"><%= image_tag("twitter.jpg") %></div>
        <div class="archive-section">
          <h4>Archives</h4>
          <ul>
            <% @archives.each do |archive| %>
              <li><%= show_archive(archive) %></li>
            <% end %>
          </ul>
        </div>
        <div class="post-subscribe blog-news-subscribe">
          <div class="sub-wrapper">
            <div class="post-subscribe-title">subscribe</div>
            <div class="post-subscribe-subs">Get Latest News in biotech and robotics</div>
              <%= render 'subscribers/form' %>
          </div>
        </div>
        <div class="new-idea-section">
          <h4>New Idea?</h4>
          <div class="new-blog-further-info">
            <P>For further information please contact the team at<span> enquiries@robostox.com</span></P>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
<% content_for :js_init do %>
HeaderScroll.init();
<% end %>
