<% content_for :js_init do %>
HeaderScroll.init();
<% end %>
<div class="legal-banner">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-centered">
    <div class="blog-heading-container">
      <h1>ROBO-NEWS</h1>
      <div class="punch-line">Delivering Cutting Edge Industry Insight and Competitive Intelligence</div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <div class="post-section">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="featured-content">
              <%= image_tag("new-research-video.jpg") %>
            </div>
            <div class="latest-article-section">
              <h2>LATEST RESEARCH ARTICLES</h2>
              <div class="sub-heading">This is jsut a dummy tect to have  demo for the sub heading here that will have some value  for the overall website info </div>
              <div class="news-section">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="blog-news-img"><%= image_tag("latest-1.jpg") %></div>
                    <div class="blog-news-post">
                      <%= link_to "Science", "#", class: "post-tags" %>
                      <%= link_to "News", "#", class: "post-tags" %>
                      <%= link_to "News", "#", class: "post-tags" %>
                    </div>
                    <div class="blog-new-title">DARPA Robotics Challenge Gives Glim...</div>
                    <div class="post-date">June 17, 2015</div>
                    <div class="blog-news-des">
                      <p>Nestled in the valley of a Californian mountain range, you can find the grounds that are famously known for the Los Angeles County Fair. At a base line, this past weekend was similar to any other on the grounds; people from all over the world gathering to marvel over metal machines. Yet, this time those machines were robots rather than rides.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="blog-news-social"><%= image_tag("share-bar.jpg") %></div>
                    <div class="pull-right"><%= link_to "Read more", "#" %></div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="blog-news-img"><%= image_tag("latest-1.jpg") %></div>
                    <div class="blog-news-post">
                      <%= link_to "Science", "#", class: "post-tags" %>
                      <%= link_to "News", "#", class: "post-tags" %>
                      <%= link_to "News", "#", class: "post-tags" %>
                    </div>
                    <div class="blog-new-title">DARPA Robotics Challenge Gives Glim...</div>
                    <div class="post-date">June 17, 2015</div>
                    <div class="blog-news-des">
                      <p>Nestled in the valley of a Californian mountain range, you can find the grounds that are famously known for the Los Angeles County Fair. At a base line, this past weekend was similar to any other on the grounds; people from all over the world gathering to marvel over metal machines. Yet, this time those machines were robots rather than rides.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="blog-news-social"><%= image_tag("share-bar.jpg") %></div>
                    <div class="pull-right"><%= link_to "Read more", "#" %></div>
                  </div>
                </div>
              </div>
              <div class="news-section">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="blog-news-img"><%= image_tag("latest-1.jpg") %></div>
                    <div class="blog-news-post">
                      <%= link_to "Science", "#", class: "post-tags" %>
                      <%= link_to "News", "#", class: "post-tags" %>
                      <%= link_to "News", "#", class: "post-tags" %>
                    </div>
                    <div class="blog-new-title">DARPA Robotics Challenge Gives Glim...</div>
                    <div class="post-date">June 17, 2015</div>
                    <div class="blog-news-des">
                      <p>Nestled in the valley of a Californian mountain range, you can find the grounds that are famously known for the Los Angeles County Fair. At a base line, this past weekend was similar to any other on the grounds; people from all over the world gathering to marvel over metal machines. Yet, this time those machines were robots rather than rides.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="blog-news-social"><%= image_tag("share-bar.jpg") %></div>
                    <div class="pull-right"><%= link_to "Read more", "#" %></div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="blog-news-img"><%= image_tag("latest-1.jpg") %></div>
                    <div class="blog-news-post">
                      <%= link_to "Science", "#", class: "post-tags" %>
                      <%= link_to "News", "#", class: "post-tags" %>
                      <%= link_to "News", "#", class: "post-tags" %>
                    </div>
                    <div class="blog-new-title">DARPA Robotics Challenge Gives Glim...</div>
                    <div class="post-date">June 17, 2015</div>
                    <div class="blog-news-des">
                      <p>Nestled in the valley of a Californian mountain range, you can find the grounds that are famously known for the Los Angeles County Fair. At a base line, this past weekend was similar to any other on the grounds; people from all over the world gathering to marvel over metal machines. Yet, this time those machines were robots rather than rides.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="blog-news-social"><%= image_tag("share-bar.jpg") %></div>
                    <div class="pull-right"><%= link_to "Read more", "#" %></div>
                  </div>
                </div>
              </div>
              <div class="news-section">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="blog-news-img"><%= image_tag("latest-1.jpg") %></div>
                    <div class="blog-news-post">
                      <%= link_to "Science", "#", class: "post-tags" %>
                      <%= link_to "News", "#", class: "post-tags" %>
                      <%= link_to "News", "#", class: "post-tags" %>
                    </div>
                    <div class="blog-new-title">DARPA Robotics Challenge Gives Glim...</div>
                    <div class="post-date">June 17, 2015</div>
                    <div class="blog-news-des">
                      <p>Nestled in the valley of a Californian mountain range, you can find the grounds that are famously known for the Los Angeles County Fair. At a base line, this past weekend was similar to any other on the grounds; people from all over the world gathering to marvel over metal machines. Yet, this time those machines were robots rather than rides.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="blog-news-social"><%= image_tag("share-bar.jpg") %></div>
                    <div class="pull-right"><%= link_to "Read more", "#" %></div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="blog-news-img"><%= image_tag("latest-1.jpg") %></div>
                    <div class="blog-news-post">
                      <%= link_to "Science", "#", class: "post-tags" %>
                      <%= link_to "News", "#", class: "post-tags" %>
                      <%= link_to "News", "#", class: "post-tags" %>
                    </div>
                    <div class="blog-new-title">DARPA Robotics Challenge Gives Glim...</div>
                    <div class="post-date">June 17, 2015</div>
                    <div class="blog-news-des">
                      <p>Nestled in the valley of a Californian mountain range, you can find the grounds that are famously known for the Los Angeles County Fair. At a base line, this past weekend was similar to any other on the grounds; people from all over the world gathering to marvel over metal machines. Yet, this time those machines were robots rather than rides.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="blog-news-social"><%= image_tag("share-bar.jpg") %></div>
                    <div class="pull-right"><%= link_to "Read more", "#" %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="blog-news-right">
        <div class="blog-news-right-section">
          <h4>Filter</h4>
          <%= link_to "Science", "#", class: "post-tags" %>
          <%= link_to "News", "#", class: "post-tags" %>
          <%= link_to "2016 peak", "#", class: "post-tags" %>
          <%= link_to "Networking Robot", "#", class: "post-tags" %>
          <%= link_to "Biotechnology", "#", class: "post-tags" %>
          <%= link_to "Robo tax classes", "#", class: "post-tags" %>
          <%= link_to "2016 Peak", "#", class: "post-tags" %>
          <%= link_to "Science", "#", class: "post-tags" %>
          <%= link_to "News", "#", class: "post-tags" %>
          <%= link_to "2016 peak", "#", class: "post-tags" %>
          <%= link_to "Networking Robot", "#", class: "post-tags" %>
          <%= link_to "Biotechnology", "#", class: "post-tags" %>
          <%= link_to "Robo tax classes", "#", class: "post-tags" %>
          <%= link_to "2016 Peak", "#", class: "post-tags" %>
          <%= link_to "Science", "#", class: "post-tags" %>
          <%= link_to "News", "#", class: "post-tags" %>
          <%= link_to "2016 peak", "#", class: "post-tags" %>
          <%= link_to "Networking Robot", "#", class: "post-tags" %>
          <%= link_to "Biotechnology", "#", class: "post-tags" %>
          <%= link_to "Robo tax classes", "#", class: "post-tags" %>
          <%= link_to "2016 Peak", "#", class: "post-tags" %>
        </div>
        <div class="tweets-section"><%= image_tag("twitter.jpg") %></div>
        <div class="archive-section">
          <h4>Archives</h4>
          <ul>
            <li>June, 2015(1)</li>
            <li>January, 2015(4)</li>
            <li>December, 2015(1)</li>
            <li>August, 2015(6)</li>
            <li>November, 2015(1)</li>
            <li>October, 2015(8)</li>
            <li>March, 2015(1)</li>
            <li>February, 2015(9)</li>
          </ul>
        </div>
        <div class="post-subscribe blog-news-subscribe">
          <div class="sub-wrapper">
            <div class="post-subscribe-title">subscribe</div>
            <div class="post-subscribe-subs">Get Latest News in biotech and robotics</div>
              <input id="email" name="eamil" placeholder="Enter your Email" type="email" />
              <a href="#" class="input-arrow"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
