<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-560957102c7ea020" async="async"></script>
<div class="news-banner home-main">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-centered">
    <div class="blog-heading-container">
      <h1>ROBO Global NEWS</h1>
      <div class="punch-line">INSIDE THE WORLD OF ROBOTICS</div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <div class="post-section">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="featured-content">
              <div class='latest-article-section'>
                <h2>LATEST NEWS AND DEVELOPMENTS</h2>
                <div class='sub-heading'>In the constantly evolving space of robotics and automation, ROBO Global brings you the need to know news. </div>
              </div>
              <%= raw @video %>
            </div>
            <div class="latest-article-section">
              <% if @latest_blogs.length == 0 %>
                <h3>No Blog posts match searched criteria.</h3>
              <% end %>
              <% @latest_blogs.each_with_index do |blog, index| %>
                <% if index.in? [0,2,4] %>
                  <div class="blog-news-section">
                    <div class="row">
                <% end %>
                    <%= render partial: 'robo_news_blog_post', locals: {blog: blog} %>
                <% if index.in? [1,3,5] %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% if @latest_blogs.length.in? [1,3,5] %>
                  </div>
                </div>
              <% end %>
              <div class="row show-for-large">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 pull-right">
                  <div class="pager pull-right">
                    <% if @latest_blogs.total_count > BlogPost::ROBO_NEWS_PER_PAGE_RECORDS %>
                      <span class="pagi-title">Pages</span>
                    <% end %>
                    <%= paginate @latest_blogs %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="blog-news-right">
        <div class="post-subscribe blog-news-subscribe">
          <div class="sub-wrapper">
            <div class="post-subscribe-title">subscribe</div>
            <div class="post-subscribe-subs">Get the latest news in robotics & automation</div>
              <%= render 'subscribers/form' %>
          </div>
        </div>
        <div class='robotics-text'>
          <h4>More Robotics & Automation News</h4>
          <%= link_to 'https://www.therobotreport.com', :target => '_blank', class: 'text-center' do %>
            <%= image_tag 'robot-report-logo.png', height: 60, class: 'image-bottom-padding' %>
            <p class='text-center robot-report-text'>www.TheRoboReport.com</p>
          <% end %>
        </div>
        <div class="tweets-section">
          <%= raw @twitter_feed %>
        </div>
        <div class="blog-news-right-section">
          <h4>Filter</h4>
          <% BlogPost::TOKENS.each do |token| %>
            <%= link_to "#{token}", robo_news_path(token: token), class: "post-tags" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="show-for-small">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 pull-right">
        <div class="pager pull-right">
          <% if @latest_blogs.total_count > BlogPost::ROBO_NEWS_PER_PAGE_RECORDS %>
            <span class="pagi-title">Pages</span>
          <% end %>
          <%= paginate @latest_blogs %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//my.hellobar.com/fa045d1d413804d06363e9142e8be356a02d6a8d.js" async="async"></script>
<% content_for :js_init do %>
HeaderScroll.init();
VideoResize.init();
<% end %>
