<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55dd6a077af5bb75" async="async"></script>
<div class="legal-banner">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-centered">
    <div class="blog-heading-container">
      <h1>POST</h1>
      <div class="punch-line"> <%= @blog_post.title %></div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
      <div class="post-section">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <% @blog_post.tags.each do |tag| %>
              <%= link_to "#{tag}", robo_news_path(token: tag), class: "post-tags" %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <h2><%= @blog_post.title %></h2>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
            <div class="post-share-bar">
              <div class="addthis_sharing_toolbox" data-url="<%= [request.domain, "/", @blog_post.slug].join %>" data-title="<%= @blog_post.title %>"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="post-date"><%= date_format @blog_post.published_date %></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="featured-content">
              <%= image_tag(@blog_post.attachment.image.url(:large)) if @blog_post.attachment.present? %>
            </div>
            <div class="featured-file">
              <% if @blog_post.pdf_attachment.present? %>
              <%= link_to @blog_post.pdf_attachment.document.url, target: "_blank" do %>
              <%= image_tag @blog_post.pdf_attachment.document.url(:pdf_mini) %>
              <% end %>
              <% end %>
            </div>
            <div class="featured-video">
              <% if @blog_post.embedded_attachment.present? %>
              <div class="embed-container">
                <%= raw @blog_post.embedded_attachment.embed_code %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="description-section">
          <%= raw @blog_post.description %>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-controller">
              <div class="pull-left"><%= link_to "Prev Article", "/#{@previous_blog.slug}", class: "post-pre" %></div>
              <div class="pull-right"><%= link_to "Next Article", "/#{@next_blog.slug}", class: "post-next" %></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="recommendet-content">
              <div class="addthis_recommended_horizontal"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
      <div class="post-right-section">
        <div class="post-subscribe">
          <div class="sub-wrapper">
            <div class="post-subscribe-title">subscribe</div>
            <div class="post-subscribe-subs">Get Latest News in biotech and robotics</div>
              <%= render 'subscribers/form' %>
          </div>
        </div>
        <div class="papulor-article">
          <h4>Popular Articles</h4>
            <% @popular_blogs.each do |blog| %>
              <div class="article-wrap">
                <%= link_to "/#{blog.slug}" do %>
                <div class="article-img"><%= image_tag("#{blogs_image(blog)}") %></div>
                <div class="article-title"><%= robo_news_blog_title(blog, 25) %></div>
                <div class="article-date"><%= date_format blog.published_date %></div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="archive-section">
          <h4>Archives</h4>
          <ul>
            <% @archives.each do |archive| %>
              <li><%= show_archive(archive) %></li>
            <% end %>
          </ul>
        </div>
        <div class="right-recommended">
          <div class="addthis_recommended_vertical"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :js_init do %>
  HeaderScroll.init();
  EmailValidator.init();
<% end %>
