<div id="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="logo-container">
            <a class="footer-logo" href="#"><%= image_tag("footer-logo.png", :alt => "footer-Logo") %></a>
            <a class="s-icons" href="#"><%= image_tag("social-icons.png", :alt => "icons") %></a>
          </div>
          <div class="copyrights">&copy; 2015 RoboStock. All rights Reserved.</div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="footer-nav">
            <ul>
              <li><%= link_to "Why Robo-Stox", "#" %></li>
              <li><%= link_to "Robo Index", "#" %></li>
              <li><%= link_to "News & Research", "#" %></li>
              <li><%= link_to "Robo ETF", "#" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
