<div id="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-5 col-lg-3">
          <div class="logo-container">
            <%= link_to root_path, class: "footer-logo" do %>
              <%= image_tag("logo-white.png", :alt => "footer-Logo") %>
            <% end %>
          </div>
          <div class="footer-social-icon">
            <a target="_blank" href="https://www.linkedin.com/company/3653959?trk=tyah&trkInfo=tarId%3A1413231811281%2Ctas%3Arobots%2Cidx%3A2-1-6"><i class="fa fa-linkedin-square"></i></a>
            <a target="_blank" href="https://twitter.com/roboglobal"><i class="fa fa-twitter-square"></i></a>
            <a target="_blank" href="https://plus.google.com/u/1/b/107577937791101253095/107577937791101253095/posts"><i class="fa fa-google-plus-square"></i></a>
          </div>
          <div class="copyrights-large">&copy; <%= Time.now.year %> ROBO Global. All rights reserved.</div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-9">
          <div class='row'>
            <div class="footer-nav">
              <ul>
                <%= raw footers %>
                <li class="footer-dropdown dropdown hide-for-small">
                  <a class="dropdown-toggle" data-toggle="" role="button" aria-haspopup="true" aria-expanded="false">ROBO Global ETFs</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-toggle dropdown-space"></a>
                      <a href="#leave-site" data-colorbox="true" data-colorbox-height="62%" data-colorbox-width="60%" data-colorbox-inline="true">ROBO Global Robotics and Automation Index ETF (US)</a>
                    </li>
                    <li>
                      <a href="#leave-site-eu" data-colorbox="true" data-colorbox-height="62%" data-colorbox-width="60%" data-colorbox-inline="true">ROBO Global Robotics and Automation GO UCITS ETF (Europe)</a>
                    </li>
                  </ul>
                </li>
                <li class="footer-dropdown dropdown hide-for-large show-for-small">
                  <a class="dropdown-toggle" data-toggle="" role="button" aria-haspopup="true" aria-expanded="false">ROBO Global ETFs</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-toggle dropdown-space"></a>
                      <a href="#leave-site" data-colorbox="true" data-colorbox-height="90%" data-colorbox-width="90%" data-colorbox-inline="true">ROBO Global Robotics and Automation Index ETF (US)</a>
                    </li>
                    <li>
                      <a href="#leave-site-eu" data-colorbox="true" data-colorbox-height="90%" data-colorbox-width="90%" data-colorbox-inline="true">ROBO Global Robotics and Automation GO UCITS ETF (Europe)</a>
                    </li>
                  </ul>
                </li>
                <li class="<%= legal_active %>"><%= link_to 'Legal', legal_information_path%></li>
                <li class="<%= disclaimer_active %>"><%= link_to 'Disclaimer', disclaimer_path%></li>
                <li><a href="#privacy-policy" data-colorbox="true" data-colorbox-height="90%" data-colorbox-width="45%" data-colorbox-inline="true">Privacy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <div class="copyrights-small">&copy; <%= Time.now.year %> ROBO Global. All rights reserved.</div>

    </div>
  </div>
</div>
