<%- model_class = Attachment -%>
<div class="page-header">
  <h1>All Images</h1>
  <%= link_to 'Create Attachment', new_attachment_path, :class => 'btn btn-primary' %>
</div>
<%= paginate @attachments %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Image File</th>
      <th>Thumbnail</th>
      <th>Date</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.image_file_name %></td>
        <td><%= image_tag attachment.image.url(:thumb) %></td>
        <td><%= attachment.created_at %></td>
        <td>
          <%= link_to "Show", attachment_path(attachment) %>
          <%= link_to "Edit", edit_attachment_path(attachment) %>
          <%= link_to "Delete", attachment_path(attachment),
                      :title => "Delete",
                      :method => :delete,
                      :data => { :confirm => "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
