<div class='row'>
  <div class='text-center'>
    <h3>ROBOTICS BUSINESS REVIEW</h3>
    <h3>Global RBR50 2017</h3>
  </div>

  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
    <div class='col-xs-1 col-sm-1 col-md-1 col-lg-1'>
      <%= image_tag('RBR_50_Logo.jpg', alt: 'RBR Logo Image') %>
    </div>
    <div class='col-xs-11 col-sm-11 col-md-11 col-lg-11'>
      Robotics Business Review (RBR), a sister publication of Robotics Trends, has unveiled annual RBR50 list comprised of the most noteworthy public and private companies in the global robotics industry for 2017. With the robotics industry more competitive than ever, new companies are popping up all the time. Of those companies, the RBR50 list outlines those who should be kept on your business radar.
    </div>
  </div>

  <div class='text-center'>
    <h3>INSIDE THE INDEX</h3>
    <h3>2017 RBR50 Companies in the ROBO Global Index</h3>
  </div>

  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
    <div class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>
      <%= image_tag('nvidia_logo.png', alt: 'Nvidia Logo Image') %>
      <div class='text-center'>
        <div>ROBO Classification:</div>
        <div>Technology, Computing</div>
      </div>
    </div>
    <div class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>
      <%= image_tag('fanuc-logo.png', alt: 'Fanuc Logo Image') %>
      <div class='text-center'>
        <div>ROBO Classification:</div>
        <div>Application, Industrial Manufacturing</div>
      </div>
    </div>
    <div class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>
      <%= image_tag('ABB-Logo.png', alt: 'ABB Logo Image') %>
      <div class='text-center'>
        <div>ROBO Classification:</div>
        <div>Application, Industrial Manufacturing</div>
      </div>
    </div>
    <div class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>
      <%= image_tag('omron-logo.jpg', alt: 'Omron Logo Image') %>
      <div class='text-center'>
        <div>ROBO Classification:</div>
        <div>Technology, Sensing</div>
      </div>
    </div>
  </div>

  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
    <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
      <%= image_tag('Intuitive-gray.png', alt: 'Intuitive Logo Image') %>
      <div class='text-center'>
        <div>ROBO Classification:</div>
        <div>Application, Healthcare</div>
      </div>
    </div>
    <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
      <%= image_tag('IRobot_logo.png', alt: 'IRobot Logo Image') %>
      <div class='text-center'>
        <div>ROBO Classification:</div>
        <div>Application, Consumer Products</div>
      </div>
    </div>
    <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
      <%= image_tag('yaskawa-logo.png', alt: 'Yaskawa Logo Image') %>
      <div class='text-center'>
        <div>ROBO Classification:</div>
        <div>Application, Industrial Manufacturing</div>
      </div>
    </div>
  </div>
</div>
