<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
<div class="about-banner">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-centered">
    <div class="us-heading-container">
      <h1>About Us</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="robo-about-top">
        <p>In order to capture the growth potential of the robotic revolution, the opportunity must be defined from an investor’s perspective - ROBO Global sought out to do just that. As the creator of the first benchmark index to track the global robotics and automation market, ROBO brings these solutions to investors.</p>
        <p>Through the expertise of its leadership team and strategic advisors, our team searches worldwide to find cutting-edge companies in the space. From healthcare to industrials to aerospace, these companies span across a multitude of industries. By identifying these prospects, we are able to track the global growth of the industry.</p>
        <p>The index is comprised of over 80 stocks focused on the entire robotics and automation value chain. The stocks include rapidly developing companies in the global robotics and automation industry, covering over 15 countries across our 13 sub-sectors. With offices in Dallas and London, and indices listed on multiple exchanges, ROBO Global defines and delivers the only index to target robotics and automation.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="management-section">
        <h2>ROBO Team</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="about-wrapper">
        <div class="about-team-img"><%= image_tag("Travis-Briggs.png", :alt => "travis-briggs") %></div>
        <div class="person-info">
          <h3>Travis Briggs</h3>
          <h4>CEO, US</h4>
          <div class="about-social">
            <%= linkedin_link("https://www.linkedin.com/pub/travis-briggs/10/931/129") %>
            <%= mail_to_link("travis@roboglobal.com") %>
          </div>
        </div>
        <div class="about-des-wrapper">
          <p>Travis is CEO and Partner of ROBO Global. A veteran of the finance and wealth management industry, Travis is responsible for managing daily operations of the firm, executing business strategy and serving on the Index and Classification Committees.</p>
          <p>Prior to joining ROBO Global in March 2014, Travis served as managing director at Smith Group Asset Management in Dallas, where he created and led the firm’s Private Client Group. Before joining Smith Group, Travis served as Chief Operating Officer and Director of Business Development at Dallas-based hedge-fund Discovery Management. Earlier in his career, Travis was the Director of Investor Relations at Triton Energy and worked as an analyst at Bank of America.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="about-wrapper">
        <div class="about-team-img"><%= image_tag("Richard-Lightbound.png", :alt => "Richard-Lightbound") %></div>
        <div class="person-info">
          <h3>Richard Lightbound</h3>
          <h4>CEO, EU</h4>
          <div class="about-social">
            <%= linkedin_link("https://uk.linkedin.com/pub/richard-lightbound/0/23b/592") %>
            <%= mail_to_link("richard@roboglobal.com") %>
          </div>
        </div>
        <div class="about-des-wrapper">
          <p>
          Richard is CEO of ROBO Global Partners Ltd. and has worked for over 20 years in the financial and treasury services industry. In addition to managing daily operations in Europe and Asia, he is responsible for executing our business strategy and serves on the Index Committee and Classification Committee. During his career as a Commercial Banker, Richard served with Wells Fargo and Standard Chartered Bank in senior management positions with responsibility for Institutional and Corporate clients across Europe, MENA and Asia. Richard also served with TradeCard (now GT Nexus) where he launched and managed operations in 6 markets. TradeCard was funded by Warburg Pincus and today is the world’s largest cloud-based commerce network. Richard has lived and worked in Hong Kong, USA, Europe and Sri Lanka.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="about-wrapper">
        <div class="about-team-img"><%= image_tag("Rob-Wilson.png", :alt => "Rob Wilson") %></div>
        <div class="person-info">
          <h3>Rob wilson</h3>
          <h4>Co-Founder &amp; Chief Strategy Officer</h4>
          <div class="about-social">
            <%= linkedin_link("https://www.linkedin.com/in/robwilsongroup") %>
          </div>
        </div>
        <div class="about-des-wrapper">
          <p>Rob Wil, CSO and co-founder of ROBO-STOX, is a 20+ year veteran of the wealth management industry. While attending a robotics think-tank presentation, Rob realized robotics isn’t just a trend of the future, but it’s here now. He set about to create a way to invest in the long-term robotics and automation technologies trend.</p>
          <p>Besides co-founding ROBO-STOX, Rob is a private client portfolio manager with Fusion Analytics Investment Partners. He previously worked at RBC Wealth Management, serving as First Vice President, Financial Consultant; UBS Wealth Management as Vice President, Investments; and with Dean Witter Reynolds where he was Associate Vice President, Investments.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="about-wrapper">
        <div class="about-team-img"><%= image_tag("Chris-Lightbound.png", :alt => "Chris Lightbound") %></div>
        <div class="person-info">
          <h3>Chris Lightbound</h3>
          <h4>Co-Founder</h4>
          <div class="about-social">
            <%= linkedin_link("https://www.linkedin.com/profile/view?id=AAkAABptO1MBYl1ObUYXTGk1Leftc1acaUKjEik&authType=NAME_SEARCH&authToken=3RfE&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A443366227%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1442416891572%2Ctas%3Achris%20lightbound") %>
          </div>
        </div>
        <div class="about-des-wrapper">
          <p>Chris is currently the Investor Relations Manager for GaveKal Capital in Asia, an advisor to several investment strategies, where he oversees a global client and investor base. Prior to GaveKal Capital, Chris was the Head of Sales for GaveKal Research, a leading independent economic and financial markets research boutique whose clients include over 850 pension funds, endowments, foundations, investment banks, hedge funds, mutual funds, and ultra high-net-worth individuals. Chris has also  managed sales within the Jebsen Group, a privately owned trading and distribution firm based in Hong Kong and prior to Jebsen Chris worked for the Gillette Company both in the US and Europe.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="about-wrapper">
        <div class="about-team-img"><%= image_tag("Frank-Tobe.png", :alt => "frank-topbe") %></div>
        <div class="person-info">
          <h3>Frank Tobe</h3>
          <h4>Co-Founder</h4>
          <div class="about-social">
            <%= linkedin_link("https://www.linkedin.com/in/franktobe") %>
          </div>
        </div>
        <div class="about-des-wrapper">
          <p>Frank is the owner and publisher of The Robot Report. After selling his business and retiring from 25+ years as provider of targeted campaign materials and consultant to the Democratic National Committee as well as major local and national campaigns and initiatives across the U.S. and abroad, he has energetically pursued a new career in researching, writing about and investing in robotics.</p>
          <p>In 2008 he started The Robot Report, a regularly updated web-based resource for news and links about the business of robotics. The site focuses on startups, acquisitions, IPOs, funding and failures; about successes, technological achievements, and forecasts; overall, the site tracks the business of robotics. Frank is also a panel member for the Robotics by Invitation series sponsored by Robohub, a Swiss-based online platform that brings together leading communicators in robotics research, start-ups, business, and education from around the world.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="about-wrapper">
        <div class="about-team-img"><%= image_tag("Clay-Shepherd.jpg", :alt => "clay-shepherd") %></div>
        <div class="person-info">
          <h3>Clay Shepherd</h3>
          <h4>Operations Manager</h4>
          <div class="about-social">
            <%= linkedin_link("https://www.linkedin.com/pub/clayton-shepherd/68/488/aab") %>
            <%= mail_to_link("clay@roboglobal.com") %>
          </div>
        </div>
        <div class="about-des-wrapper">
          <p>Since ROBO Global's founding in 2013, Clay has acted as the Operations Manager as well as a member of the index committee. Clay graduated with honors in business from the Cox School of Business at Southern Methodist University.  Previous to his employment at ROBO-STOX, Clay worked as an associate intern for Silicon Valley Bank and a financial analyst at Bamford Partners.  Clay also co-founded Presidential Advantage Tutoring, which he sold in early 2013.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-centered">
      <div class="about-wrapper last">
        <div class="about-team-img"><%= image_tag("Erica-Allaby.png", :alt => "Erica-Allaby") %></div>
        <div class="person-info">
          <h3>Erica Allaby</h3>
          <h4>Communications and Marketing</h4>
          <div class="about-social">
            <%= linkedin_link("https://www.linkedin.com/pub/erica-allaby/46/a94/25a") %>
            <%= mail_to_link("erica@roboglobal.com") %>
          </div>
        </div>
        <div class="about-des-wrapper">
          <p>Erica moved from Connecticut to Texas to join the ROBO team after graduating from High Point University with a B.A. in journalism. She manages the creative content and marketing materials by covering company updates, emerging technologies, and events. During undergrad, Erica followed her love of language to Spain to study Spanish and dedicated her time to multiple editorial, research and social media internships.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="advisory-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Advisory Board</h2>
      </div>
    </div>
    <div class="row">
      <div class="advisory-wrapper">
        <div class="ad-right-side">
          <div class="advisory-team-img"><%= image_tag("Henrik-Christensen.png", :alt => "Henrik Christensen") %></div>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
          <h3>Henrik Christensen</h3>
          <p>Henrik I Christensen is the director of Robotics at Georgia Tech. He is the KUKA Chair of Robotics and a distinguished professor of computing. He was the founder of the European Network of Excellence in Robotics that included 192 universities. He was also the coordinator of formulation of the US Roadmap for Robotics initially released 2009 and revised 2013. He is the coordinator of the Robotics Virtual Organization that formulates the national robotics agenda, coordinates educational efforts and promotes technology transfer of research results. Dr. Christensen has published more than 300 contributions across robotics, computer vision and artificial intelligence. He collaborates with many of the major companies in the US on utilization of robot technology. Dr. Christensen is also the co-founder of 5 companies.</p>
        </div>
      </div>
      <div class="advisory-wrapper col-xs-6 col-sm-6 col-md-12 col-lg-12">
        <div class="ad-right-side">
          <div class="advisory-team-img"><%= image_tag("Raffaello-D'Andrea.png", :alt => "raffaello") %></div>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
          <h3>Raffaello D'Andrea</h3>
          <p>Spanning academics, business and the arts, Raffaello D’Andrea’s career is built on his ability to bridge theory and practice: He is Professor of Dynamic Systems and Control at ETH Zurich, where his research redefines what autonomous systems are capable of. He is co-founder of Kiva Systems, now operating as Amazon Robotics, a robotics company that revolutionized material handling by deploying thousands of autonomous mobile robots in warehouses. He was the faculty advisor and system architect of the Cornell Robot Soccer Team, four time world champions at the international RoboCup competition. </p>
          <p>He recently founded Verity Studios, a company developing a new breed of interactive and autonomous flying machines. In addition, he is a new media artist with exhibitions at various international venues, including the Venice Biennale, Ars Electronica, and the FRAC Centre. Other creations and projects include the Flying Machine Arena, the Distributed Flight Array, the Balancing Cube, the Blind Juggler, Cubli, and RoboEarth. His most recent awards include the IEEE Robotics and Automation Award and the Engelberger Robotics Award, two of the highest achievements in the field.</p>
        </div>
      </div>
      <div class="advisory-wrapper">
        <div class="ad-right-side">
          <div class="advisory-team-img"><%= image_tag("Louis-Vincent-Gave.png", :alt => "louis gave") %></div>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
          <h3>Louis-Vincent Gave</h3>
          <p>After receiving his bachelor's degree from Duke University and studying Mandarin at Nanjing University, Louis joined the French Army where he served as a second lieutenant in a mountain infantry battalion. After leaving the army, he worked as a financial analyst with Paribas in Paris and Hong Kong. Following Paribas, Louis launched GaveKal Research with Charles Gave and Anatole Kaletsky in London in 1999. Since 2002 he has been based in Hong Kong where he oversees GaveKal’s money management business as well as contributing to the firm’s research. He is the author of five books, including his latest Too Different for Comfort, published in October 2013.</p>
        </div>
      </div>
      <div class="advisory-wrapper">
        <div class="ad-right-side">
          <div class="advisory-team-img"><%= image_tag("wyatt.png", :alt => "wyatt") %></div>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
          <h3>Wyatt Newman</h3>
          <p>Wyatt Newman’s research is in the areas of mechatronics, robotics and computational intelligence, in which he has 12 patents and over 130 technical publications. He received the S.B. degree from Harvard College in Engineering Science, the S.M. degree in Mechanical Engineering from M.I.T. in thermal and fluid sciences, the M.S.E.E. degree from Columbia University in control theory and network theory, and the Ph.D. degree in Mechanical Engineering from M.I.T. in design and control.</p>
          <p>Dr. Newman spent 8 years in industrial research at Philips Laboratories, Briarcliff Manor, NY, engaged in electromechanical design and control. He joined Case in 1988, and in 1992 he was named an NSF Young Investigator in robotics, and subsequently was named a Herbold Fellow, a Tau Beta Pi “distinguished engineer”, a Woody-Flowers FIRST-robotics mentor awardee, and a CWRU awardee for teaching and for leadership. In 2007, he led “Team Case” in the DARPA Urban Challenge, involving autonomous vehicles operating among live and robotic traffic.</p>
          <p>In addition to visiting appointments at Sandia Labs, NASA, and Princeton, he has held international appointments at Philips (Eindhoven, The Netherlands), as a Distinguished Visiting Fellow at U. Edinburgh, and The Hung Hing Ying Distinguished Visiting Professor at U. of Hong Kong. Prof. Newman is currently leading HKU’s team in the DARPA Robotics Challenge, involving humanoid robots for disaster response.</p>
        </div>
      </div>
      <div class="advisory-wrapper">
        <div class="ad-right-side">
          <div class="advisory-team-img"><%= image_tag("Morten-Paulsen.png", :alt => "morten pauls") %></div>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
          <h3>Morten Paulsen</h3>
          <p>Morten Paulsen is the Head of Research and a Managing Director at CLSA Japan. He has covered the Japanese robotics and machinery industry as a Tokyo based equity analyst since 1999. Mr. Paulsen was among the first financial analysts to highlight the Asian Automation trend as an underlying driver for the sector one decade ago, and he has built strong relationships with automation equipment suppliers and system integrators across Asia.</p>
          <p>Mr. Paulsen joined CLSA Japan from WestLB Securities Pacific in 2003 and he has received numerous rewards for his research. He was among others ranked number one in his field by AsiaMoney every year from 2007 to 2013 (the Capital Goods segment was discontinued in 2014), and he was also ranked by Starmine as one of Japan’s top 10 stock pickers in 2013.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="get-touch-section">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="get-touch-right">
          <div class="title">Get in touch </div>
          <div class="our-office">
            <div class="phone font-size-18"><strong>United States</strong></div>
            <div class="phone">300 Cresent Court, Suite 840</div>
            <div class="phone">Dallas, Texas 75201</div>
            <div class="phone">info@roboglobal.com</div>
            <div class="phone">214-272-2710</div>
          </div>
          <div class="our-office">
            <div class="phone font-size-18"><strong>United Kingdom</strong></div>
            <div class="phone">Kemp House, 152 City Road</div>
            <div class="phone">London, EC1V 2NX, United Kingdom</div>
            <div class="phone">enquires@roboglobal.com</div>
            <div class="phone">+44 208 1449888</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="about-map">
          <div>
            <div id="basic_map" style='width: 800px; height: 299px;'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="featured-in-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-centered">
        <h2>Featured In</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="brand-section">
          <%= image_tag("us-today.png", :alt => "usa-today") %>
          <%= image_tag("barrons.jpg", :alt => "barrons") %>
          <%= image_tag("buss-week.jpg", :alt => "bus-week") %>
          <%= image_tag("cnbc.jpg", :alt => "cnbc") %>
          <%= image_tag("forbes.jpg", :alt => "forbes") %>
          <%= image_tag("invest-day.jpg", :alt => "invest-day") %>
          <%= image_tag("market-watch.jpg", :alt => "market-watch") %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :js_init do %>
  HeaderScroll.init();
  AboutUs.init();
<% end %>
