<div class="main-banner">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-centered">
    <div class="text-container">
      <h1>THE FUTURE IS NOW</h1>
      <div class="punch-line">See how robotics-based invesment solutions can help your portfolio</div>
    </div>
  </div>
</div>
<div class="automation-tech-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-centered">
        <h2>Robo-Stox Is the leader on robotics and automation technologies</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-centered">
        <div class="sub-title">This is jsut a dummy tect to have  demo for the sub heading here that will have some value  for the overall website info purposes and section.</div>
      </div>
      <div class="tech-section">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="tech-catagories">
            <div class="tech-symbol"><%= image_tag("robotics.jpg", :alt => "robotics") %></div>
            <div class="top-border"></div>
            <div class="clearfix"></div>
            <div class="tech-title">ROBOTICS</div>
            <div class="tech-description">
              <p>This is just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website info purposes and section.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="tech-catagories">
            <div class="tech-symbol"><%= image_tag("enterprise.jpg", :alt => "enterprise") %></div>
            <div class="top-border"></div>
            <div class="clearfix"></div>
            <div class="tech-title">ENTERPRISE TECH</div>
            <div class="tech-description">
              <p>This is just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website info purposes and section.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="tech-catagories">
            <div class="tech-symbol"><%= image_tag("engineering.jpg", :alt => "engineering") %></div>
            <div class="top-border"></div>
            <div class="clearfix"></div>
            <div class="tech-title">Engineering</div>
            <div class="tech-description">
              <p>This is just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website info purposes and section.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="map-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-centered">
        <h2>Monitoring the most innovative solutions from around the world</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-centered">
        <div class="sub-title">This is jsut a dummy tect to have  demo for the sub heading here that will have some value</div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="map-img"><%= image_tag("map.jpg", :alt => "Map") %></div>
</div>
<div class="blog-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-centered">
        <h2>Robo-Stox Is the leader on robotics and automation technologies</h2>
      </div>
      <div class="clearfix"></div>
      <div class="video-post-section">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <%= image_tag("video.jpg", :alt => "video") %>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h3>OUR LATEST BLOG POSTS</h3>
          <p>This is just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website info purposes and section.</p>
          <div class="post-wrapper">
            <div class="post-img"><%= image_tag("thumb-1.jpg", :alt => "thumb") %></div>
            <div class="post-title">Robo Weekly Wrap Up</div>
            <div class="post-description">This is just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website...</div>
            <div class="post-date">June 14, 2015</div>
          </div>
          <div class="post-wrapper">
            <div class="post-img"><%= image_tag("thumb-2.jpg", :alt => "thumb") %></div>
            <div class="post-title">First AUV Airport Opening this Summer</div>
            <div class="post-description">This is just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website...</div>
            <div class="post-date">June 14, 2015</div>
          </div>
          <div class="post-wrapper">
            <div class="post-img"><%= image_tag("thumb-3.jpg", :alt => "thumb") %></div>
            <div class="post-title">DARPA Robotics CAmp Challenge</div>
            <div class="post-description">This is just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website...</div>
            <div class="post-date">June 14, 2015</div>
          </div>
          <div class="research-news"><%= link_to "More News & Research", "#" %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="sector-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-centered">
        <h2>OUR SECTORS</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-centered">
        <div class="sub-title">This is jsut a dummy tect to have  demo for the sub heading here that will have some value</div>
      </div>
    </div>
    <div class="sector-inner">
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <%= image_tag("circule-image.jpg", :alt => "circule") %>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <div class="tab-img"><%= image_tag("hand.png", :alt => "hand") %></div>
        <div class="sector-title"><h5>Mecahnics Build Up</h5></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</p>
        <div class="clearfix"></div>
        <div class="news-section">
          <h5>In the News Headlines</h5>
          <div class="clearfix"></div>
          <%= link_to "Read More", "#" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="heighlights-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>INDEX HEIGHLIGHTS</h2>
      </div>
    </div>
    <div class="drive-system">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h3>HARMONIC DRIVE SYSTEM INC</h3>
        <div class="index-title">This is jsut a dummy tect to have  demo for the sub heading here that will be.</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="about-btn-shell">
              <%= link_to "About Us", "#", class: "white-btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="team-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-centered">
        <h2>OUR TEAM</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-centered">
        <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</div>
      </div>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-centered">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="team-wrapper">
            <div class="our-team-img"><%= image_tag("team1.jpg", :alt => "team") %></div>
            <h3>Chirs Lightbound</h3>
            <h4>Co-Founder</h4>
            <div class="team-social">
              <%= image_tag("linkedin.png", :alt => "linkedin") %>
              <%= image_tag("msg.png", :alt => "msg") %>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="team-wrapper">
            <div class="our-team-img"><%= image_tag("team2.jpg", :alt => "team") %></div>
            <h3>Chirs Lightbound</h3>
            <h4>Co-Founder</h4>
            <div class="team-social">
              <%= image_tag("linkedin.png", :alt => "linkedin") %>
              <%= image_tag("msg.png", :alt => "msg") %>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="team-wrapper">
            <div class="our-team-img"><%= image_tag("team3.jpg", :alt => "team") %></div>
            <h3>Chirs Lightbound</h3>
            <h4>Co-Founder</h4>
            <div class="team-social">
              <%= image_tag("linkedin.png", :alt => "linkedin") %>
              <%= image_tag("msg.png", :alt => "msg") %>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="team-wrapper">
            <div class="our-team-img"><%= image_tag("team4.jpg", :alt => "team") %></div>
            <h3>Chirs Lightbound</h3>
            <h4>Co-Founder</h4>
            <div class="team-social">
              <%= image_tag("linkedin.png", :alt => "linkedin") %>
              <%= image_tag("msg.png", :alt => "msg") %>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-centered">
          <div class="about-btn">
            <%= link_to "About Us", "#", class: "default-buttons" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="featured-in-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-centered">
        <h2>Featured In</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered">
        <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipiscing elit</div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="brand-section">
          <%= image_tag("usa-today.jpg", :alt => "usa-today") %>
          <%= image_tag("barrons.jpg", :alt => "barrons") %>
          <%= image_tag("bus-week.jpg", :alt => "bus-week") %>
          <%= image_tag("cnbc.jpg", :alt => "cnbc") %>
          <%= image_tag("forbes.jpg", :alt => "forbes") %>
          <%= image_tag("invest-day.jpg", :alt => "invest-day") %>
          <%= image_tag("market-watch.jpg", :alt => "market-watch") %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="question-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <div class="get-news">
          <div class="news-wrapper">
            <div class="get-news-title">Robotics Room</div>
            <div class="news-sub-title">Get latest news in biotech and robicts</div>
            <div class="clearfix"></div>
              <input id="email" name="eamil" placeholder="Enter your Email" type="email" />
              <a href="#" class="input-arrow"></a>
          </div>
        </div>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <h2>Questions?</h2>
        <h4>Let us know how we can help!</h4>
        <div class="question-form">
          <form action="" method="POST" role="form">
            <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="Phone">
            </div>
            <textarea class="form-control" rows="3" placeholder="Message"></textarea>
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 button-area">
                <button type="submit" class="default-buttons">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :js_init do %>
  Home.init();
<% end %>
