<div class="main-banner home-main">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered">
    <div class="text-container">
      <h1>THE FUTURE IS NOW</h1>
      <div class="punch-line">DEFINING THE UNIVERSE OF ROBOTICS AND AUTOMATION FOR INVESTORS</div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="container">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-centered">
      <div class="graph-container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>ROBO Index vs MSCI ACWI Performance</h3>
          </div>
        </div>
        <%= image_tag("main-banner-graph.png", :alt => "Graph") %>
      </div>
    </div>
  </div>
</div>
<div class="automation-tech-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered">
        <h2>ROBO GLOBAL AT A GLANCE</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-centered">
      </div>
      <div class="tech-section">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="tech-catagories">
            <div class="tech-symbol"><%= image_tag("expert.jpg", :alt => "expert", class: "MR-38") %></div>
            <div class="top-border"></div>
            <div class="clearfix"></div>
            <div class="tech-title">EXPERTS</div>
            <div class="tech-description">
              <p>A team of financial and robotics experts maintain the leading indicator of the robotics and automation market.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="tech-catagories">
            <div class="tech-symbol"><%= image_tag("world-wide.jpg", :alt => "world-wide") %></div>
            <div class="top-border"></div>
            <div class="clearfix"></div>
            <div class="tech-title">WORLD WIDE</div>
            <div class="tech-description">
              <p>Monitoring over 1,000 companies across our 13 sub-sectors</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="tech-catagories">
            <div class="tech-symbol"><%= image_tag("future.jpg", :alt => "future") %></div>
            <div class="top-border"></div>
            <div class="clearfix"></div>
            <div class="tech-title">FUTURE</div>
            <div class="tech-description">
              <p>Capturing the tremendous growth potential of robotics and automation.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered">
        <h2>INSIDE THE WORLD OF ROBOTICS</h2>
      </div>
      <div class="clearfix"></div>
      <div class="video-post-section">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 home-video-post">
          <%= raw @video %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h3>ROBO News</h3>
          <p>Keep up with the lastest industry news and developments.</p>
          <div class="latest-blog-shell">
            <% @latest_blogs.each do |blog| %>
              <div class="post-wrapper">
                <div class="post-img">
                  <%= link_to "/#{blog.slug}" do %>
                    <%= image_tag("#{blogs_image(blog)}", :alt => "thumb") %>
                  <% end %>
                </div>
                <div class="post-inner">
                  <div class="post-title">
                    <%= link_to "/#{blog.slug}" do %>
                      <%= blog.title %>
                    <% end %>
                  </div>
                  <div class="post-description"><%= blog_description(blog) %></div>
                  <div class="post-date"><%= date_format blog.published_date %></div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="research-news"><%= link_to "More News & Research", robo_news_path %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="sector-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-centered">
        <h2>BEHIND THE MACHINES</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-centered">
        <div class="sub-title">The ROBO industry classification system for identifying robotics and automation companies currently has 13 sub-sectors which fall under either Technology or Applications.</div>
      </div>
    </div>
    <div class="sector-inner hide-for-small">
      <div class="col-xs-7 col-sm-7 col-md-8 col-lg-7">
        <div id="sectors">
          <%= link_to 'javascript:;', class: "sensing sector-circule sector-effect" do %>
            <span class="overlay"></span>
            <span class="text">Sensing</span>
          <% end %>
          <%= link_to 'javascript:;', class: "processing sector-circule sector-effect" do %>
            <span class="overlay"></span>
            <span class="text">Processing</span>
          <% end %>
          <%= link_to 'javascript:;', class: "actuation sector-circule sector-effect" do %>
            <span class="overlay"></span>
            <span class="text">Actuation</span>
          <% end %>
          <%= link_to 'javascript:;', class: "computing sector-circule sector-effect" do %>
            <span class="overlay"></span>
            <span class="text">Computing</span>
          <% end %>
          <%= link_to 'javascript:;', class: "integration sector-circule sector-effect" do %>
            <span class="overlay"></span>
            <span class="text">Integration</span>
          <% end %>
          <%= link_to 'javascript:;', class: "manufacturing sector-circule sector-effect" do %>
            <span class="overlay"></span>
            <span class="text">Manufacturing</span>
          <% end %>
          <%= link_to 'javascript:;', class: "printing sector-circule sector-effect" do %>
            <span class="overlay"></span>
            <span class="text">3D Printing</span>
          <% end %>
          <%= link_to 'javascript:;', class: "logistics sector-circule sector-effect" do %>
            <span class="overlay"></span>
            <span class="text">Logistics Automation</span>
          <% end %>
          <%= link_to 'javascript:;', class: "agriculture sector-circule sector-effect" do %>
            <span class="overlay"></span>
            <span class="text">Agriculture</span>
          <% end %>
          <%= link_to 'javascript:;', class: "military sector-circule sector-effect" do %>
            <span class="overlay"></span>
            <span class="text">Security / Surveillance</span>
          <% end %>
          <%= link_to 'javascript:;', class: "energy sector-circule sector-effect" do %>
            <span class="overlay"></span>
            <span class="text">Energy</span>
          <% end %>
           <%= link_to 'javascript:;', class: "healthcare sector-circule sector-effect" do %>
            <span class="overlay"></span>
            <span class="text">Healthcare</span>
          <% end %>
          <%= link_to 'javascript:;', class: "consumer sector-circule sector-effect", target: "_blank" do %>
            <span class="overlay"></span>
            <span class="text">Consumer</span>
          <% end %>
          <div class="circule-logo"></div>
        </div>
      </div>
      <div class="col-xs-5 col-sm-4 col-md-4 col-lg-5 for-tablet">

        <div class="active-content sensing-content">
          <div class="tab-img"><%= image_tag("Sensing.jpg", :alt => "Sensing") %></div>
          <div class="sector-title"><h3>Sensing</h3></div>
          <div class="clearfix"></div>
          <p>In order for a system to exhibit autonomy, it must be able to sense its environment, in addition to determining its own internal state.  For human beings, these are called exteroception and proprioception.   Sensing is important for the same reasons that our exteroceptive senses (sight, sound, etc.), and our proprioceptive senses (ability to know where our limbs are and what they are doing without directly observing them) are important for human beings.  For robotic systems, however, we are not limited to the standard senses. Almost anything that can be measured can be made into a sensor.</p>
        </div>

        <div class="hidden-content processing-content">
          <div class="tab-img"><%= image_tag("Processing.jpg", :alt => "Processing") %></div>
          <div class="sector-title"><h3>Processing</h3></div>
          <div class="clearfix"></div>
          <p>Autonomous systems must make decisions at various levels ranging from basic motion control to determining the state of the environment they are operating in and optimally planning actions.  Part of this processing is not only making sense of the information received from sensors, but also planning actions in order to achieve a desired objective.</p>
        </div>

        <div class="hidden-content actuation-content">
          <div class="tab-img"><%= image_tag("Actuation.jpg", :alt => "Actuation") %></div>
          <div class="sector-title"><h3>Actuation</h3></div>
          <div class="clearfix"></div>
          <p>Actuation is the means by which machines interact with the physical world.  For human beings, this mainly refers to our limbs, and in particular, our hands. However, machines are not limited to manipulation.  Almost anything that has an effect on the physical world can be made into an actuator.  Actuation techniques include electric, hydraulic (compressed fluid), mechanical, and pneumatic (compressed air).</p>
        </div>

        <div class="hidden-content computing-content">
          <div class="tab-img"><%= image_tag("Computing.jpg", :alt => "Computing") %></div>
          <div class="sector-title"><h3>Computing</h3></div>
          <div class="clearfix"></div>
          <p>The path from sensing, to processing, to actuation, requires computation.  It is analogous to our brain, and is what allows the processing of information to produce actuation.  Computing can vary from embedded systems smaller than a fingernail to server-farms implementing sophisticated algorithms.</p>
        </div>

        <div class="hidden-content integration-content">
          <div class="tab-img"><%= image_tag("Integration.jpg", :alt => "Integration") %></div>
          <div class="sector-title"><h3>Integration</h3></div>
          <div class="clearfix"></div>
          <p>An autonomous system is made up of many components (sensors, actuators, and computational units), which can be distributed over large spaces.  Integration consists of architecting a system – figuring out how to put all of these components together – to achieve the desired objective in a robust, high performance, and cost-efficient way.</p>
        </div>

        <div class="hidden-content manufacturing-content">
          <div class="tab-img"><%= image_tag("Manufacturing.jpg", :alt => "Manufacturing") %></div>
          <div class="sector-title"><h3>Manufacturing</h3></div>
          <div class="clearfix"></div>
          <p>Broadly speaking, this is the main way in which companies take raw materials through a manufacturing process to create products.  It is also the earliest successful application for robotics and automation – for example, automobile assembly - and continues to be one of its largest growth areas.</p>
        </div>

        <div class="hidden-content printing-content">
          <div class="tab-img"><%= image_tag("3DPrinting.jpg", :alt => "3DPrinting") %></div>
          <div class="sector-title"><h3>3D Printing</h3></div>
          <div class="clearfix"></div>
          <p>Traditionally, products are built either by assembling separate parts, or by removing material from a larger work-piece.   3D printing, also called additive manufacturing, adds yet another capability by depositing different types of materials where they are needed.   One of its main benefits is the potential for customization that is not economically feasible with traditional techniques.</p>
        </div>

        <div class="hidden-content logistics-content">
          <div class="tab-img"><%= image_tag("Logistics.jpg", :alt => "Logistics") %></div>
          <div class="sector-title"><h3>Logistics Automation</h3></div>
          <div class="clearfix"></div>
          <p>The manufacturing of items is incomplete without the material handling and distribution channels that bring the objects to their intended users.  The many economic advantages to speedy and error-free distribution, such as operating with low-inventory and being responsive to customer demands, is a significant growth area for robotics and automation. This is continually reducing the costs for end-users, both businesses and consumers.</p>
        </div>

        <div class="hidden-content agriculture-content">
          <div class="tab-img"><%= image_tag("Agriculture.jpg", :alt => "Agriculture") %></div>
          <div class="sector-title"><h3>Agriculture</h3></div>
          <div class="clearfix"></div>
          <p>Feeding and sustaining the world continues to be one of our most important economic activities.  A new generation of autonomous systems is bringing precision and the elimination of rote labor to this domain.  For example, precision agriculture offers to greatly reduce costs and our environmental footprint by applying water and fertilizer on an as-needed basis.</p>
        </div>

        <div class="hidden-content military-content">
          <div class="tab-img"><%= image_tag("Military.jpg", :alt => "Military") %></div>
          <div class="sector-title"><h3>Security / Surveillance</h3></div>
          <div class="clearfix"></div>
          <p>Removing people from harm’s way has always been a main driver for robotics research.  Up until recently, it has been difficult for machines to duplicate a human’s flexibility and cognitive skills.  However, with today’s technologies, unmanned aircraft and ground vehicles are now capable of detecting hazardous materials, disposing of bombs, operating in space and performing critical national defense functions (surveillance).</p>
        </div>

        <div class="hidden-content energy-content">
          <div class="tab-img"><%= image_tag("Energy.jpg", :alt => "Energy") %></div>
          <div class="sector-title"><h3>Energy</h3></div>
          <p>Exploration, extraction, and the maintenance of the energy infrastructure require extensive and growing resources.  Robotics and automation continues to expand from structured 
          <div class="clearfix"></div>environments, such as warehouses and factories, to unstructured ones, such as outdoors, underground, and underwater. The energy sector will reap the rewards of this transition with lower operational costs.</p>
        </div>

        <div class="hidden-content healthcare-content">
          <div class="tab-img"><%= image_tag("Healthcare.jpg", :alt => "Healthcare") %></div>
          <div class="sector-title"><h3>Healthcare</h3></div>
          <div class="clearfix"></div>
          <p>As global healthcare costs continue to rise, robotics and automation is poised to provide a countering force to this trend.  Through rehabilitation, diagnostics, exoskeletons and elderly care, using robotics and autonomous systems promises to drastically reduce costs, while improving quality of life. In addition, robotics and automation can transcend cost-cutting by using robots for difficult surgeries and neurological treatments that were previously unfeasible.</p>
        </div>

        <div class="hidden-content consumer-content">
          <div class="tab-img"><%= image_tag("Consumer.jpg", :alt => "Consumer") %></div>
          <div class="sector-title"><h3>Consumer Products</h3></div>
          <div class="clearfix"></div>
          <p>From interactive robots for entertainment to automating household chores, consumer companies work to make everyday lives easier and more enjoyable. The Internet of Things promises to usher in a new era of interconnectivity.  By communicating through the existing internet infrastructure, devices will no longer be isolated islands of limited capabilities.  This impact will be particularly pronounced for these types of consumer products, which need to be inexpensive for wide adoption.   Through the internet, consumer robotics will finally become broadly affordable to individuals.</p>
        </div>

        <div class="clearfix"></div>
        <div class="news-section">
          <h3>In the News Headlines</h3>
          <div class="clearfix"></div>
          <%= link_to "Read More", "#" %>
        </div>
      </div>
    </div><!-- sector-inner -->
    <div class="bs-example hide-for-large show-for-small accrodian">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><h3>Sensing</h3></a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>In order for a system to exhibit autonomy, it must be able to sense its environment, in addition to determining its own internal state.&nbsp; For human&nbsp;beings, these are called exteroception and proprioception.&nbsp;&nbsp; Sensing is important for the same reasons that our exteroceptive senses (sight, sound, etc.), and our proprioceptive senses (ability to know where our limbs are and what they are doing without directly observing them) are important for human beings.&nbsp; For robotic systems, however, we are not limited to the standard senses. Almost anything that can be measured can be made into a sensor.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><h3>Processing</h3></a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Autonomous systems must make decisions at various levels ranging from basic motion control to determining the state of the environment they are operating in and optimally planning actions.&nbsp; Part of this processing is not only making sense of the information received from sensors, but also planning actions in order to achieve a desired objective.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h3>Actuation</h3></a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Actuation is the means by which machines interact with the physical world.&nbsp; For human beings, this mainly refers to our limbs, and in particular, our hands. However, machines are not limited to manipulation.&nbsp; Almost anything that has an effect on the physical world can be made into an actuator. &nbsp;Actuation techniques include electric, hydraulic (compressed fluid), mechanical, and pneumatic (compressed air).</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h3>Computing</h3></a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>The path from sensing, to processing, to actuation, requires computation.&nbsp; It is analogous to our brain, and is what allows the processing of information to produce actuation.&nbsp; Computing can vary from embedded systems smaller than a fingernail to server-farms implementing sophisticated algorithms.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h3>Integration</h3></a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>An autonomous system is made up of many components (sensors, actuators, and computational units), which can be distributed over large spaces.&nbsp; Integration consists of architecting a system – figuring out how to put all of these components together – to achieve the desired objective in a robust, high performance, and cost-efficient way.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h3>Manufacturing</h3></a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Broadly speaking, this is the main way in which companies take raw materials through a manufacturing process to create products.&nbsp; It is also the earliest successful application for robotics and automation – for example, automobile assembly - and continues to be one of its largest growth areas.</p>
            </div>
          </div>
        </div>

         <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h3>3D Printing</h3></a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Traditionally, products are built either by assembling separate parts, or by removing material from a larger work-piece.&nbsp;&nbsp; 3D printing, also called additive manufacturing, adds yet another capability by depositing different types of materials where they are needed.&nbsp;&nbsp; One of its main benefits is the potential for customization that is not economically feasible with traditional techniques.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h3>Logistics Automation</h3></a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>The manufacturing of items is incomplete without the material handling and distribution channels that bring the objects to their intended users.&nbsp; The many economic advantages to speedy and error-free distribution, such as operating with low-inventory and being&nbsp;responsive to customer demands, is a significant growth area for robotics and automation. This is continually reducing the costs for end-users, both businesses and consumers.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h3>Agriculture</h3></a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Feeding and sustaining the world continues to be one of our most important economic activities.&nbsp; A new generation of autonomous systems is bringing precision and the elimination of rote labor to this domain.&nbsp; For example, precision agriculture offers to greatly reduce costs and our environmental footprint by applying water and fertilizer on an as-needed basis.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h3>Miliatry/Security</h3></a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Removing people from harm’s way has always been a main driver for robotics research.&nbsp; Up until recently, it has been difficult for machines to duplicate a human’s flexibility and cognitive skills.&nbsp;&nbsp;However, with today’s technologies, unmanned aircraft and ground vehicles are now capable of detecting hazardous materials, disposing of bombs, operating in space and performing critical national defense functions (surveillance).</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h3>Energy</h3></a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Exploration, extraction, and the maintenance of the energy infrastructure require extensive and growing resources.&nbsp; Robotics and automation continues to expand from structured</p>
              <p>environments, such as warehouses and factories, to unstructured ones, such as outdoors, underground, and underwater. The energy sector will reap the rewards of this transition with lower operational costs.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h3>Healthcare</h3></a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>As global healthcare costs continue to rise, robotics and automation is poised to provide a countering force to this trend.&nbsp;&nbsp;Through rehabilitation, diagnostics, exoskeletons and elderly care, using robotics and autonomous systems promises to drastically reduce costs, while improving quality of life. In addition, robotics and automation can transcend cost-cutting by using robots for difficult surgeries and neurological treatments that were previously unfeasible.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h3>Consumer Products</h3></a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>From interactive robots for entertainment to automating household chores, consumer companies work to make everyday lives easier and more enjoyable. The Internet of Things promises to usher in a new era of interconnectivity.&nbsp; By communicating through the existing internet infrastructure, devices will no longer be isolated islands of limited capabilities.&nbsp; This impact will be particularly pronounced for these types of consumer products, which need to be inexpensive for wide adoption.&nbsp;&nbsp; Through the internet, consumer robotics will finally become broadly affordable to individuals.</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="heighlights-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>INDEX HIGHLIGHT</h2>
      </div>
    </div>
    <div class="drive-system">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h3><%= @stock_chart.title %></h3>
        <div class="index-title"><p><%= @stock_chart.description %></p></div>
        <div class="row">
          <div class="col-xs-4 col-sm-5 col-md-3 col-lg-3">
            <div class="about-btn-shell">
              <li class="dropdown">
                <%= link_to "ROBO ETFs", "javascript:;", class: "white-btn"%>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#leave-site" data-colorbox="true" data-colorbox-height="370px" data-colorbox-width="550px" data-colorbox-inline="true">ROBO Global Robotics and Automation Index ETF (US)</a>
                  </li>
                  <li>
                    <a href="#leave-site-eu" data-colorbox="true" data-colorbox-height="500px" data-colorbox-width="550px" data-colorbox-inline="true">ROBO Global Robotics and Automation GO UCITS ETF (Europe)</a>
                  </li>
                </ul>
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 stock-chart">
        <%= raw @stock_chart.embed_code %>
      </div>
    </div>
  </div>
</div>
<div class="team-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered">
        <h2>THE TEAM</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-centered">
        <div class="sub-title">The ROBO Index was created and is managed by a team of financial and robotics experts.</div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-centered">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="team-wrapper">
            <div class="our-team-img"><%= image_tag("Travis-Briggs.png", :alt => "Travis-Briggs") %></div>
            <div class="our-team-wrapper">
              <h3>Travis Briggs </h3>
              <h4>(CEO, US)</h4>
              <div class="team-social">
                <%= linkedin_link("https://www.linkedin.com/pub/travis-briggs/10/931/129") %>
                <%= mail_to_link("travis@roboglobal.com") %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="team-wrapper">
            <div class="our-team-img"><%= image_tag("Richard-Lightbound.png", :alt => "Richard-Lightbound") %></div>
            <div class="our-team-wrapper">
              <h3>Richard Lightbound</h3>
              <h4>(CEO, EU)</h4>
              <div class="team-social">
                <%= linkedin_link("https://www.linkedin.com/profile/view?id=AAkAAAAI2H4BqBK_mBUoxFvlqcdrLS5XtcvtkDU&authType=NAME_SEARCH&authToken=xbI0&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A579710%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1442416938257%2Ctas%3Arichard%20l") %>
                <%= mail_to_link("richard@roboglobal") %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="team-wrapper">
            <div class="our-team-img"><%= image_tag("Rob-Wilson.png", :alt => "Rob-Wilson") %></div>
            <div class="our-team-wrapper">
              <h3>Rob Wilson</h3>
              <h4>(Co-Founder)</h4>
              <div class="team-social">
                <%= linkedin_link("https://www.linkedin.com/in/robwilsongroup") %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="team-wrapper">
            <div class="our-team-img"><%= image_tag("Frank-Tobe.png", :alt => "Frank-Tobe") %></div>
            <div class="our-team-wrapper">
              <h3>Frank Tobe</h3>
              <h4>(Co-Founder)</h4>
              <div class="team-social">
                <%= linkedin_link("https://www.linkedin.com/in/franktobe") %>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3 col-centered">
          <div class="about-btn">
            <%= link_to "Full Team", about_us_path, class: "default-buttons" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="featured-in-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-centered">
        <h2>Featured In</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="brand-section">
          <%= image_tag("us-today.png", :alt => "usa-today") %>
          <%= image_tag("barrons.jpg", :alt => "barrons") %>
          <%= image_tag("buss-week.jpg", :alt => "bus-week") %>
          <%= image_tag("cnbc.jpg", :alt => "cnbc") %>
          <%= image_tag("forbes.jpg", :alt => "forbes") %>
          <%= image_tag("invest-day.jpg", :alt => "invest-day") %>
          <%= image_tag("market-watch.jpg", :alt => "market-watch") %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="question-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="get-news">
          <div class="news-wrapper">
            <div class="get-news-title">ROBO News Room</div>
            <div class="news-sub-title">Get the latest robotics news and index insight</div>
            <div class="clearfix"></div>
            <%= render 'subscribers/form' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <h2>Questions?</h2>
        <h4>Let us know how we can help!</h4>
        <%= render 'contacts/form' %>
      </div>
    </div>
  </div>
</div>
<% content_for :js_init do %>
  Home.init();
  EmailValidator.init();
  VideoResize.init();
<% end %>
