<div class="us-banner">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-centered">
    <div class="us-heading-container">
      <h1>Robo US Index</h1>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="row">
    <div class="us-banner-bottom">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-centered">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="us-banner-bottom-text">Fact Sheet</div>
          </div>
           <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="us-banner-bottom-text">Index Holdings</div>
          </div>
           <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="us-banner-bottom-text">Index Deletions &amp; Additions</div>
          </div>
        </div>
      </div>
    </div>
    <div class="age-auto-section">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Welcome to the Age of Automation</h2>
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
            <div class="sub-title">Content about the mission statement of Robo-Global where we will say things about how it is the future etc</div>
          </div>
        </div>
        <div class="tipping-points"><%= image_tag("tipping-points.jpg", :alt => "tipping-points") %></div>
      </div>
      <div class="automation-wrapper">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Inside the Index</h2>
            <div>
              <p>The Robo-Stox Index captures the entire value chain of robotics, automation, and enabling technologies. This value chain captures not only the traditional industrial robotics hardware, but also those companies developing the latest technologies in robotics and deploying those technologies into new applications. A diverse portfolio is essential to capture the growth in this broad and rapidly evolving industry</p>
            </div>
          </div>
        </div>
      </div>
      <div class="automation-wrapper">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Index Classification</h2>
            <div>
              <p>The index classification consists of two primary tiers, Technologies and Applications, and 13 secondary tiers. The tiered classification system illustrates where each index holding fits into the robotics and automation "value chain."</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tech-tab-section">
  <div class="tabs-effect">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2>TECHNOLOGIES</h2>
          <div class="sub-title">This is just a dummy text to have  demo for the sub heading here that will have some value </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="tech-tabs">
            <li class="models"></li>
            <li class="auto-processing"></li>
            <li class="analytics"></li>
            <li class="speed-testing"></li>
            <li class="robo-champ"></li>
            <li class="butterfly"></li>
          </ul>
          <div class="tech-info">
            <div class="row">
              <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <%= image_tag("3d-model.jpg", :alt => "3d-model") %>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div class="tab-info-wrapper">
                  <div class="tab-info-title">3D Models</div>
                  <p>This is just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website. Os just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website is just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website. For is just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="application-tabs-section">
        <h2>APPLICATIONS</h2>
        <div class="sub-title">This is just a dummy text to have  demo for the sub heading here that will have some value </div>
        <ul class="app-tabs">
          <li class="models"></li>
          <li class="auto-processing"></li>
          <li class="analytics"></li>
          <li class="speed-testing"></li>
          <li class="robo-champ"></li>
          <li class="butterfly"></li>
          <li class="epr"></li>
        </ul>
        <div class="app-info">
          <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
              <%= image_tag("application-tool.jpg", :alt => "application-tool") %>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
              <div class="app-info-wrapper">
                <div class="app-info-title">3D Models</div>
                <p>This is just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website. Os just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website is just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website. For is just a dummy tect to have  demo for the sub heading here that will have some value  for the overall website...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="protfolio-section">
        <h2>Portfolio Composition</h2>
        <div class="sub-title">This is just a dummy text to have  demo for the sub heading here that will have some value </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="portfolio-des">
            <p>The index is maintained by a team of financial and robotics experts to ensure that it remains a leading indicator of the robotics and automation market. Index components are selected from a proprietary database of companies that derive all or a portion of revenues from rtobotics, automation, and related technologies.</p>
          </div>
        </div>
        <div class="composition-img">
          <%= image_tag("composition-1.jpg", :alt => "composition-1") %>
          <%= image_tag("composition-2.jpg", :alt => "composition-2") %>
        </div>
      </div>
    </div>
    <div class="holding-metho-section">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Holding Methodology</h2>
        <div class="portfolio-des">
          <p>At the quarterly rebalance, the index is comprised of bellwether (40%) and non-bellwether (60%) stocks, with bellwether stocks having approximately double the weight of non-bellwether stocks. Bellwether stocks are companies which derive the majority of their revenues from robotics and automation or are a market share leader. Whereas non-bellwether stocks are securities that have a distinct segment of their business involved in robotics and automation that is expected to drive revenues higher as such products and/or services expand</p>
        </div>
        <div class="bellweather">Image Placeholder for bellweather/non-bellweather depiction</div>
      </div>
    </div>
    <div class=".index-perfor-section">
      <h2>INDEX PERFORMANCE</h2>
      <div class="index-perfor-section"><%= image_tag("index-performance.jpg", :alt => "index-performance") %></div>
    </div>
  </div>
</div>
<% content_for :js_init do %>
  Home.init();
<% end %>
