<h1>All Videos</h1>
<%= link_to 'Add Video', new_embedded_attachment_path, :class => 'btn btn-primary' %>
<%= paginate @embedded_attachments %>
<table>
  <thead>
    <tr>
      <th>Preview</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @embedded_attachments.each do |embedded_attachment| %>
      <tr>
        <td>
          <div class="embed-container">
            <%= raw embedded_attachment.embed_code %>
          </div>
        </td>
        <td><%= link_to 'Show', embedded_attachment %></td>
        <td><%= link_to 'Edit', edit_embedded_attachment_path(embedded_attachment) %></td>
        <td><%= link_to 'Delete', embedded_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
