<%= form_for(@index) do |f| %>
  <%= hidden_field_tag 'attached_file_id' %>
  <%= f.hidden_field :category, value: @index.category %>
  <div class="login-container margin-bottom-40">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-top-20 padding-bottom-20">
      <div class="field padding-bottom-40" data-no-turbolink>
        <div class="clearfix"></div>
        <% if @current_pdf_attachment.present? %>
          <%= image_tag(@current_pdf_attachment.document.url(:pdf_mini), class: "attached_file_pdf margin-bottom-20") %><br>
        <% else %>
          <%= image_tag('', class: "attached_file_pdf") %>
        <% end %>

        <%= link_to "Attach File", "#index_file_model", :data => { :colorbox => true, :colorbox_height => '750px', :colorbox_width => '800px', colorbox_inline:true }, class: "colorbox-inline btn btn-primary" %>
         <%= link_to "Remove File", remove_attachment_route, class: "btn btn-danger remove_file" + show_attachment_file_link, remote: true %>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="actions">
            <%= f.submit class: "btn btn-success" %>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 padding-top-20">
          <%= link_to 'Back', back_path , :class => 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'index_file_colorbox' %>

<% content_for :js_init do %>
  Indices.init();
<% end %>
