<h2>You Have a new contact request from <%= @contact.name %></h2>
<div>
<strong>Name</strong>
<p><%= @contact.name %></p>
</div>
<div>
<strong>Email</strong>
<p><%= @contact.email %></p>
</div>
<div>
<strong>Phone</strong>
<p><%= @contact.phone %></p>
</div>
<div>
<strong>Message</strong>
<p><%= @contact.message %></p>
</div>
