<!DOCTYPE html>
<html>
  <head>
    <title>Robostox</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
    <script src="//use.typekit.net/qun2jvv.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render partial: "shared/main_header" %>
    <div id="root-container">
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= yield %>
    </div>
    <%= render partial: "shared/main_footer" %>
  </body>
</html>
<script type="text/javascript">
  <%= yield :js_end %>

  $(function() {
    <%= yield :js_init %>
  });
</script>
