<!DOCTYPE html>
<html>
  <head>
    <title>Robostox</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="//use.typekit.net/qun2jvv.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <%= render partial: "shared/main_header" %>
    <div id="root-container">
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= yield %>
    </div>
    <%= render partial: "shared/main_footer" %>
  </body>
</html>
<script type="text/javascript">
  <%= yield :js_end %>

  $(function() {
    <%= yield :js_init %>
  });
</script>
